<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <section>
        <form method="POST" action="{% url 'join_room' %}">
            {% csrf_token %}
            <h1>Join Room</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="roomID">
                <label for="">Enter room ID</label>
            </div>
            
            <button value="join" type="submit">Join</button>
            <div class="register">
            </div>
        </form>
    </section>
</body>
</html>